/target/*
/uploads/
/*/target/
/*/*/target/
/logs/
/outputs/
*.R
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/*/.factorypath
/*/*/.factorypath
### Eclipse ###
.project
.classpath
.DS_Store
.settings
.vscode
